

div{
    margin-top: 300px;
    margin-left: 150px;
    border: solid black 5px;
    width: 300px;
    height: 150px;
    position: relative;
}

h1{
    position: absolute;
    right: 100px;
    top: 50px;
}